<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-text></smart-text>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-number></smart-number>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-select [datas]="datas"></smart-select>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-mask></smart-mask>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-time></smart-time>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <smart-date></smart-date>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px;">
    <div class="col-md-5 col-sm-5 col-xs-5">
        <smart-daterange></smart-daterange>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
</div>



