<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <input type="text" class="form-control" [(ngModel)]="searchTable" placeholder="Search ..." />
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button (click)="search();">Search</button>
  </div>
</div>

<table class="table table-striped" [mfData]="list" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
  <thead>
    <tr class="headerDatatable">
      <th *ngFor="let infoJson of infoDatatableJson" [width]="infoJson.ColumnWidth">
        <mfDefaultSorter by="{{infoJson.Field}}">{{infoJson.Header}}
          <i *ngIf="infoJson.IsField ==='field'" class="fa fa-long-arrow-down" style="opacity: 0.5;"></i>
          <i *ngIf="infoJson.IsField ==='field'" class="fa fa-long-arrow-up" style="opacity: 0.5;"></i>
        </mfDefaultSorter>
      </th>
      <th *ngFor="let infoJsonAction of infoEventsRowsJson" [width]="infoJsonAction.ColumnWidth" style="text-align: center;"></th>
    </tr>
  </thead>
  <div class="loading" *ngIf="loading">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <tbody class="scrollbar" *ngIf="!loading">
    <tr *ngFor="let item of mf.data">
      <td *ngFor="let infoItemJson of infoDatatableJson" [width]="infoItemJson.ColumnWidth" [style.text-align]="infoItemJson.ColumnFormat == 'Currency' ? 'right' : 'left'">
          <app-format [dataField]="item[infoItemJson.Field]" [columnFormat]="infoItemJson.ColumnFormat" [numDecimal]="infoItemJson.NumDecimal"></app-format>
      </td>
      <td style="text-align: center;" *ngFor="let infoEventJson of infoEventsRowsJson" [width]="infoEventJson.ColumnWidth">
        <button type="button" class="btn btn-link" (click)="click(item,infoEventJson.Action)"> {{infoEventJson.Header}}</button>
      </td>
    </tr>
  </tbody>
  
  <tfoot style="color:  black;">
    <tr class="footerDatatable">
      <td [attr.colspan]="colSpan" class="tdFooterDatatabe">
        <span *ngIf="totalRows != ''" style="float: left;"> Showing {{rowsOnPagePaginator}} of {{totalRows}}</span>
        <mfBootstrapPaginator (click)="pageUpdate()" style="float: right;"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>